
.myheader {
    width: 100%;
    border: 2px solid black;
    height: 20vh;
    .myh1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2rem;
        text-align: center;
    }
}